.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  box-sizing: border-box;
  max-width: 703px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__title {
  margin: 0 0 36px;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0;
  color: #212121;
}

.modal__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 110.00000000000001%;
  letter-spacing: 0;
  margin: 0 0 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__error {
  display: block;
  color: red;
  margin-top: 8px;
}

.modal__save-btn {
  cursor: pointer;
  max-width: 156px;
  width: 100%;
  height: 52px;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  padding: 0;
  margin: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal__close-btn {
  background-image: url(../images/x_image.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  border: none;
  opacity: 0.4;
  transition: opacity 0.3s ease-in-out;
  padding: 0;
  cursor: pointer;
}

.modal__save-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__save-btn_disabled {
  opacity: 0.5;
}

.modal__close-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__delete-btn{
  cursor: pointer;
  max-width: 156px;
  width: 100%;
  height: 52px;
  border-radius: 8px;
  background-color: #FF3333;
  opacity: 0.7;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  padding: 0;
  margin: 0;
  transition: opacity 0.3s ease-in-out;


}

.modal__delete-btn:hover {
  opacity: 1;
  cursor: pointer;
  color: #212121;
}

.modal__cancel-btn{
  cursor: pointer;
  max-width: 156px;
  width: 100%;
  height: 52px;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  padding: 0;
  margin: 0;
  transition: opacity 0.3s ease-in-out;
}
.modal__cancel-btn:hover {
  color: #212121;
  cursor: pointer;
  background-color: #fff;

}
.modal__input {
  display: block;
  width: 100%;
  height: 52px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  margin: 8px 0 0;
  padding: 0;
  opacity: 0.4;
  transition: opacity 0.3s ease-in-out;
  border: 1px solid #212121;
}

.modal__input:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__input::placeholder {
  color: #2121214d;
  display: flex;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0;
  color: #fff;
  background-color: #212121;
  margin: 0;
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  text-align: center;
  border-radius: 8px;
  margin: 8px 0 0;
  padding: 4px 8px;
}

.modal__close-preview-btn {
  top: 0;
  right: -52.5px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url(../images/white_x.svg);
  border: none;
  padding: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal__close-preview-btn:hover {
  opacity: 0.4;
  cursor: pointer;
}

@media screen and (max-width: 633px) {
  .modal__save-btn {
    width: 100%;
    max-width: 276px;
  }

  .modal__input {
    max-width: none;
    width: 100%;
    font-size: 16px;
  }
  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    margin: 10px 0 24px;
  }

  .modal__label {
    font-weight: 500;
    font-size: 16px;
    line-height: 110.00000000000001%;
    color: #212121b2;
    margin: 0 0 24px;
  }

  .modal__close-btn {
    align-items: end;
    top: 12px;
    right: 12px;
  }
}

@media screen and (max-width: 516px) {
  .modal__close-preview-btn {
    top: -48px;
    right: 0;
  }

  .modal__image {
    max-width: 288px;
    height: 100%;
  }

  .modal__caption {
    width: 159px;
    height: 19px;
    font-size: 16px;
  }
}
